theme "catppuccin-mocha"
layout {
	pane {
		name "ide"
		command "nix"
		args "develop"
		size "90%"
	}
	pane split_direction="vertical" {
		pane {
			name "air"
			command "nix"
			args "develop" "--command" "air"
			start_suspended true
		}
	}
}
