package html

type ReadmeComponentContext struct {
    Markdown string
}

templ readmeComponent(rcc ReadmeComponentContext) {
	if rcc.Markdown != "" {
		<div class="bg-base dark:bg-base/50 p-5 mt-5 rounded markdown">@templ.Raw(rcc.Markdown)</div>
	}
}

