package html

type ReadmeComponentContext struct {
    Markdown string
}

templ readmeComponent(rcc ReadmeComponentContext) {
	<div class="bg-base dark:bg-base/50 px-5 rounded markdown">@templ.Raw(rcc.Markdown)</div>
}

